@import "tailwindcss";

@keyframes borderGlow {
    0% {
      border-color: transparent;
      box-shadow: 0 0 5px rgba(0, 0, 255, 0.5), 0 0 10px rgba(0, 0, 255, 0.5);
    }
    100% {
      border-color: #1a1a1a;
      box-shadow: 0 0 15px rgba(0, 0, 255, 1), 0 0 25px rgba(0, 0, 255, 0.5);
    }
  }
  
  .card-glow:hover {
    animation: borderGlow 0.8s ease-out forwards;
  }
  

  .progress-ring {
    transition: stroke-dashoffset 2s ease-in-out;
  }
  
  /* Si deseas que se inicie con el porcentaje deseado, usa JS o directamente ajusta el stroke-dashoffset */
  